  .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  .link {
    color: #fff;
  }
  .link:hover {
    color: grey;
  }